<% if @user.theme_education %><span class="label label-success">éducation, jeunesse</span><% end %>
		  <% if @user.theme_economy %><span class="label label-success">économie, emploi</span><% end %>
		  <% if @user.theme_housing %><span class="label label-success">logement</span><% end %>
		  <% if @user.theme_social %><span class="label label-success"> sécurité sociale, fiscalité</span><% end %>
		  <% if @user.theme_culture %><span class="label label-success"> culture, sport</span><% end %>
		  <% if @user.theme_environnement %><span class="label label-success"> environnement</span><% end %>
		  <% if @user.theme_ressources %><span class="label label-success"> eau, énergie, agriculture</span><% end %>
		  <% if @user.theme_security %><span class="label label-success"> police, armée, justice</span><% end %>
		  <% if @user.theme_scientific %><span class="label label-success"> recherche scientifique</span><% end %>
		  <% if @user.theme_foreign %><span class="label label-success"> affaires étrangères</span><% end %>