
		<h1 class="text-center">Constituez et fidélisez votre base électorale <br> proposition après proposition</h1> 



<div class="namefront text-center">ujumbox</div>
  <div class="baseline text-center blujumbox"><strong>politics</strong></div>

Itinéraire de campagne

Publication d'une proposition ujumbox

Réception par tout citoyen inscrit, intéressé sur le sujet (même s'il ne vous connaît pas !)

Plébiscite par les citoyens qui sont séduits par votre proposition

Ajout d'un premier, puis d'un second, voire un troisième act en vue de porter la proposition

Chaque acte, envoyé à tout citoyen intéressé, donne du crédit à votre proposition, puis à votre action politique en général (votre engagement)

Et pour cause, les citoyens inscrits ne se contentent plus de plébisciter vos propositions et actes, mais votre profil politique en soi

Et bingo ! Vous convaincez, par le fond de votre action politique quotidienne

<!-- Communication sur le fond
dans une forme aussi facile qu'un tweet
- faites une proposition, concrète, facilement digérable par le citoyen

Anatomie d'une proposition ujumbox

Portabilité de vos propositions
- partager votre proposition

Outil de ciblage de votre électoral potentiel
- cibler automatiquement les destinataires pertinents de votre proposition

Outil de constitution de votre base électorale
- constituer ainsi votre base électorale
- soyez à l'écoute des suggestions
- observez les propositions qui receuillent la majorité des suffrages au quotidien

- fidélisez votre base électorale ainsi constituée

Grâce à ujumbox, votre visibilité et votre impact ne dépend plus des médias mais de votre action politique au quotidien -->

