<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <p><div class="container text-center footing">
  	<div class="fb-like" data-href="http://ujumbox.com" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div></p>
  	<p>made with love by upcetera SPRL | copyright 2014</p>
  </div>
</nav>